<!-- Begin page content -->
<div class = "container"  ng-cloak>
    <div class = "page-header" >
        <div class = "panel panel-default">
            <div class = "panel-heading">
                <!--<span class="glyphicon glyphicon-lock"></span> Login</div>-->
                ITsat | Satisfaction in IT
                <img src = "Content/images/giarte-logo.png" alt = "Giarte" class = "logo"/>

                <div class = "clearfix"></div>
            </div>
            <!-- panel-heading -->

            <div class = "panel-body">
                <div>
                    <label id = "heading" class = "content-heading"> Reset your password</label>
                    <div id = "headingcontext" class = "content-heading-context">
                        <p class = "padding-left-label-text">
                            Please enter your email address that was used to register.In a
                            few minutes we'll send you an email with your username and a
                            link to reset your password.
                        </p>
                    </div>
                </div>
                <form class = "form-horizontal" role = "form" name = "resetForm" novalidate>
                    <div class = "form-group">
                        <div class = "col-sm-9">
                            <input type = "text" name="email" class = "form-control login-text-box"
                                   ng-class="{ 'input-validation' : (isInvalidInput || isInvalidEmail)}"
                                   data-ng-model = "Email" placeholder = "Email address" required>

                            <span ng-if="isResetBtnClicked" class="text-validation" >
                                <span style="margin-left: 5%;" ng-if="isInvalidInput">Please provide your email</span>
                                <span style="margin-left: 10%;" ng-if="isInvalidEmail">Invalid email address.</span>
                            </span>
                            <!--<span style="color:#ff0000;font-size: 10px;margin-left: 50%;" ng-if="isInvalidInput">Please provide your mail</span>-->
                        </div>
                    </div>
                    <div class = "form-group last">
                        <div class = "col-sm-2 col-sm-offset-5">
                            <button type = "submit" class = "btn btn-success btn-sm btn-login" ng-click="sendEmail()"> Send </button>
                        </div>
                    </div>

                    <div class="btn-goback" ng-click="goBack()"> << Go back </div>
                </form>
                <!-- form-horizontal -->
            </div>
        </div>
        <!-- panel panel-default -->
    </div>
    <!-- page-header -->
</div> <!-- container -->

<!-- Footer Panel -->
<footer class = "footer">
    <div class = "container">
        <div class = "url-container">
            <a href = "http://giarte.com/itsat/" class = "footer-giarte-url">
                <div class = "url-font-size">Visit Giarte.com/ITsat for more information</div>
            </a>
        </div>
        <div class = "right-arrow-container">
            <div class = "arrow-circle-container">
                <svg width = "15" height = "15" style = "margin: 0 auto;">
                    <path d = "M 7.5 0 Q 14 1 15 7.5 Q 14 14 7.5 15 Q 1 14 0 7.5 Q 1 1 7.5 0" fill = "#fff"/>
                </svg>
            </div>
        </div>
        <!-- right-arrow-container-->

        <div class = "arrow-container">
            <svg height = "8" width = "8" style = "padding-left: -10px">
                <path d = "M 0 0 L 8 3.5 L 0 7 L 0 0z" fill = "#555759"/>
            </svg>
        </div>
        <!-- arrow-container -->
    </div>
    <!-- container -->
</footer> <!-- footer -->
